body {
    margin: 0;
    font-family: Arial
}

.topnav {
    width: 100%;
    z-index: 1;
    height: 8vh;
    position: fixed;
    padding-top: 16px;
    background: #0e141e;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

a.active {
    color: #4CAF50;
}

.topnav .icon {
    display: none;
}

a:hover {
    color: #4CAF50;
}

@media screen and (max-width: 600px) {
    .topnav a:not(.active),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: fixed;
        height: 30vh;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}